<header class="header">
  <div class="header-top">
    <div class="header-left">
      <%= link_to root_path, class: "logo-container" do %>
        <%= image_tag "airbnb_logo.png", class: "logo", alt: "Airbnb Logo" %>
        <span class="logo-text">airbnb</span>
      <% end %>
    </div>
    <div class="header-center">
      <nav class="nav-links">
        <%= link_to "Logements", "#", class: "nav-link" %>
        <%= link_to "Expériences", "#", class: "nav-link" %>
      </nav>
    </div>
    <div class="header-right">
      <%= link_to "Mettre mon logement sur Airbnb", "#", class: "host-link" %>
      <button type="button" class="globe-btn">
        <%= image_tag 'icône_monde.svg', class: 'globe-icon' %>
      </button>
      <button type="button" class="menu-button">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-circle-user"></i>
      </button>
    </div>
  </div>
  <div class="search-bar">
    <%= simple_form_for :search, url: "#", html: { class: "search-form" } do |f| %>
      <div class="search-input destination-input">
        <%= f.input :destination,
                    label: "Destination",
                    placeholder: "Rechercher une destination",
                    wrapper_html: { class: "mb-0" },
                    input_html: { class: "border-0" } %>
      </div>
      <div class="search-input">
        <%= f.input :arrival,
                    label: "Arrivée",
                    as: :string,
                    placeholder: "Quand ?",
                    wrapper_html: { class: "mb-0" },
                    input_html: {
                      class: "border-0",
                      data: {
                        controller: "datepicker"
                      }
                    } %>
      </div>
      <div class="search-input">
        <%= f.input :departure,
                    label: "Départ",
                    as: :string,
                    placeholder: "Quand ?",
                    wrapper_html: { class: "mb-0" },
                    input_html: {
                      class: "border-0",
                      data: {
                        controller: "datepicker"
                      }
                    } %>
      </div>
      <div class="search-input guest-input">
        <%= f.input :guests,
                    label: "Voyageurs",
                    placeholder: "Ajouter des voyageurs",
                    wrapper_html: { class: "none" },
                    input_html: { class: "border-0" } %>
        <%= f.button :button, type: :submit, class: "search-button" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</header>
