<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for :search, url: searches_path, method: :get, html: { class: "search-bar" } do |f| %>
        <div class="search-form d-flex">
          <%= f.input :destination,
                      label: "Destination",
                      placeholder: "Rechercher une destination",
                      wrapper_html: { class: "flex-grow-1 me-2" },
                      input_html: { class: "search-input" } %>
          
          <%= f.input :check_in,
                      label: "Arrivée",
                      as: :string,
                      placeholder: "Quand ?",
                      wrapper_html: { class: "flex-grow-1 me-2" },
                      input_html: { 
                        class: "search-input datepicker",
                        data: { controller: "datepicker" }
                      } %>
          
          <%= f.input :check_out,
                      label: "Départ",
                      as: :string,
                      placeholder: "Quand ?",
                      wrapper_html: { class: "flex-grow-1 me-2" },
                      input_html: { 
                        class: "search-input datepicker",
                        data: { controller: "datepicker" }
                      } %>
          
          <%= f.input :guests,
                      label: "Voyageurs",
                      placeholder: "Ajouter des voyageurs",
                      wrapper_html: { class: "flex-grow-1 me-2" },
                      input_html: { class: "search-input" } %>
          
          <%= f.button :button, type: :submit, class: "btn btn-primary search-button" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-7">
      <div class="row">
        <% @properties.each do |property| %>
          <div class="col-md-6 mb-4">
            <%= render 'properties/property_card', property: property %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-5">
      <div id="map" style="height: 600px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
